@inherits OnlineChatBase
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

<MudAppBar Elevation="0" Class="white" Fixed="false" Dense="true">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Row="true">
        <button @onclick="e => OnClickBack()">
            <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Medium" Class="mr-6" />
        </button>

        <MudAvatar Color="Color.Primary" Size="Size.Medium">
            <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Medium" />
        </MudAvatar>

        <MudText Color="Color.Dark" Typo="Typo.h6">@(guesstUser.Username ?? "")</MudText>
    </MudStack>
</MudAppBar>

<MudPaper id="scrollablePaper" Elevation="0" Class="online-chat-default-wallpaper d-flex flex-column-reverse" Width="100%" Style="overflow-x:hidden; overflow-y:auto;" Height="calc(100dvh - 48px)">
    <MudPaper Elevation="0" Class="d-flex align-end" Style="background-color: transparent; margin-bottom: 60px;" Width="100%">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid Class="align-end" Spacing="0">

                @*outside user*@
                <MudItem xs="6">
                    <MudStack Style="height: 100%" Justify="Justify.FlexStart" Row="false" Reverse="false">
                        @foreach (var message in messages.Where(x => !(x.UserId.Equals(currentUser.Id))))
                        {
                            <MudPaper Style="background-color: transparent;" Elevation="0" Class="mr-4 d-flex justify-start">
                                <MudPaper Class="rounded-lg pa-2 white" Elevation="4" Style="max-width: 100%;">
                                    <MudText Align="Align.Start" Typo="Typo.subtitle1">
                                        @message.Text
                                    </MudText>
                                </MudPaper>
                            </MudPaper>
                        }
                    </MudStack>
                </MudItem>

                @*user*@
                <MudItem xs="6">
                    <MudStack Style="height: 100%" Justify="Justify.FlexEnd" Row="false" Reverse="false">
                        @foreach (var message in messages.Where(x => x.UserId.Equals(currentUser.Id)))
                        {
                            <MudPaper Style="background-color: transparent;" Elevation="0" Class="mr-4 d-flex justify-end">
                                <MudPaper Class="rounded-lg pa-2 mud-theme-primary" Elevation="4" Style="max-width: 100%;">
                                    <MudText Align="Align.Start" Typo="Typo.subtitle1">
                                        @message.Text
                                    </MudText>
                                </MudPaper>
                            </MudPaper>
                        }
                    </MudStack>
                </MudItem>


            </MudGrid>
        </MudContainer>
    </MudPaper>

    <MudAppBar Bottom=true Elevation="0" Style="background-color: transparent;" Fixed="true" Dense="true">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="10">

                <MudTextField T="string"
                              @bind-Value="messageInput"
                              Class="grey lighten-4 rounded-xl"
                              Margin="Margin.Dense"
                              Placeholder="Search"
                              Variant="Variant.Outlined"
                              Adornment="Adornment.End"
                              AdornmentColor="Color.Primary"
                              OnAdornmentClick="SendMessage"
                              AdornmentIcon="@Icons.Material.Filled.Send" />
            </MudItem>
        </MudGrid>
    </MudAppBar>
</MudPaper>