@page "/login"
@inherits LoginPageBase
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Login</PageTitle>

<MudGrid Spacing="0">
    <MudItem xs="12">
        <MudPaper Elevation="0" Height="100dvh" Width="100%" Class="d-flex align-center justify-center">
            <MudContainer Class="rounded-lg mud-theme-primary pa-10" MaxWidth="MaxWidth.ExtraSmall">
                <EditForm Model="@user" OnValidSubmit="OnClickLogin">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary></ValidationSummary>
                    <MudPaper Elevation="5" Class="pa-3 d-flex rounded-lg align-center justify-center">
                        <MudGrid Spacing="1">
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.h6">blazchat</MudText>
                                <MudText Align="Align.Center" Typo="Typo.body1">login</MudText>
                            </MudItem>
                            <MudItem xs="12">
                                <MudStack Spacing="0" Row="false">
                                    <MudText>Username</MudText>
                                    <MudTextField @bind-value="@user.Name" Margin="Margin.Dense" T="string" Variant="Variant.Outlined"></MudTextField>
                                </MudStack>

                            </MudItem>
                            <MudItem xs="12">
                                <MudStack Spacing="0" Row="false">
                                    <MudText>Password</MudText>
                                    <MudTextField @bind-value="@user.Password" Margin="Margin.Dense" T="string" Variant="Variant.Outlined"></MudTextField>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="12">
                                <div class="d-flex align-center justify-center">
                                    <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">login</MudButton>
                                </div>
                            </MudItem>
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.body2">Don't have an account? <MudLink OnClick="OnClickRegister">register</MudLink></MudText>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </EditForm>
            </MudContainer>
        </MudPaper>
    </MudItem>
</MudGrid>