@page "/register"
@inherits RegisterPageBase
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Register</PageTitle>

<MudGrid Spacing="0">
    <MudItem xs="12">
        <MudPaper Class="pa-7" Elevation="0" Height="100dvh" Width="100%">
            <MudGrid Spacing="0">

                <MudItem Class="left-animation" xs="6">
                    <MudPaper Class="mud-theme-primary d-flex align-center justify-center" Height="calc(100dvh - 28px - 28px)" Width="100%">
                        <MudStack Row="false">
                            <MudText Class="white-text font-logo" Typo="Typo.h4">Blazchat</MudText>
                            <MudText Class="white-text" Typo="Typo.body1">your real time chat app :)</MudText>
                        </MudStack>
                    </MudPaper>
                </MudItem>

                <MudItem Class="right-animation" xs="6">
                    <MudPaper Elevation="0" Class="white d-flex align-center justify-center pl-7" Height="calc(100dvh - 28px - 28px)" Width="100%">
                        <EditForm Model="@user" OnValidSubmit="OnClickLogin">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>
                            
                            <MudPaper Elevation="0" Class="d-flex rounded-lg align-center justify-center">
                                <MudGrid Spacing="1">
                                    <MudItem xs="12">
                                        <MudText Class="font-logo" Align="Align.Center" Typo="Typo.h6">Blazchat</MudText>
                                        <MudText Align="Align.Center" Typo="Typo.body1">Register</MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText>Username</MudText>
                                            <MudTextField
                                                @bind-value="@user.Name"
                                                Margin="Margin.Dense"
                                                T="string"
                                                MaxLength="50"
                                                Variant="Variant.Outlined">
                                            </MudTextField>
                                        </MudStack>

                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText>Password</MudText>
                                            <MudTextField  
                                                T="string"
                                                @bind-value="@user.Password"
                                                Margin="Margin.Dense"
                                                Variant="Variant.Outlined" 
                                                InputType="@PasswordInput" 
                                                Adornment="Adornment.End" 
                                                AdornmentIcon="@PasswordInputIcon" 
                                                OnAdornmentClick="ShowPassword" 
                                                MaxLength="50"
                                                AdornmentColor="Color.Primary" 
                                                AdornmentAriaLabel="Show Password" />
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <div class="d-flex align-center justify-center">
                                            <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">register</MudButton>
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudText Align="Align.Center" Typo="Typo.body2">Already have an account? <MudLink OnClick="OnClickLogin">login</MudLink></MudText>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                            
                        </EditForm>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>